<template>
  <section class="customer-details">
    <form>
      <div class="row">
        <div class="col-md-6">
          <h1>Customer</h1>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="sr-only" for="name">Name</label>
                <input type="text" class="form-control" name="name" :value="currentCustomer.name" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="text" class="form-control" name="username" :value="currentCustomer.username" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="text" class="form-control" name="email" :value="currentCustomer.email" />
          </div>
          <label for="joined">Joined</label> 12/13/2017
          <h2>Shipping Address</h2>
          <div class="form-group">
            <label class="sr-only" for="street-address">Street Address</label>
            <input type="text" class="form-control" name="street-address" value="123 Main St" />
          </div>
          <div class="form-group">
            <label class="sr-only" for="street-address-extra">Street Address Extra</label>
            <input type="text" class="form-control" name="street-address-extra" value="Unit 101" />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="city">City</label>
                <input type="text" class="form-control" name="city" value="Washington" />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="sr-only" for="state">State</label>
                <input type="text" class="form-control" name="state" value="DC" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="sr-only" for="zip">Zip</label>
                <input type="text" class="form-control" name="zip" value="20001" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <h1>Billing info</h1>
          <div class="row">
            <div class="col-md-7">
              <p>
                ****-****-****-1234
                VISA
              </p>
              <p>
                <label>Expires:</label> 04/19
              </p>
            </div>
            <div class="col-md-5 text-right">
              <button @click.prevent="increment" class="btn btn-lg btn-default">View Details ...</button>
            </div>
          </div>

          <h3>Billing Address</h3>
          <div class="form-group">
            <label class="sr-only" for="street-address">Street Address</label>
            <input type="text" class="form-control" name="street-address" />
          </div>
          <div class="form-group">
            <label class="sr-only" for="street-address-extra">Street Address Extra</label>
            <input type="text" class="form-control" name="street-address-extra" />
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="city">City</label>
                <input type="text" class="form-control" name="city" value="Washington" />
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="sr-only" for="state">State</label>
                <input type="text" class="form-control" name="state" value="DC" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="sr-only" for="zip">Zip</label>
                <input type="text" class="form-control" name="zip" value="20001" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      loading: false,
      error: null
    }
  },
  created() {
    this.showCustomer();
  },
  computed: {
    ...mapGetters({
      currentCustomer: 'currentCustomer'
    })
  },
  methods: {
    showCustomer() {
      let customerId = this.$route.params.id;
      this.$store.dispatch('showCustomer', { id: customerId });
    }
  }
}
</script>



