<template>
  <div id="customers-list">
    <search-panel v-on:searchClick="onSearchClick"></search-panel>

    <div class="customer-list-container list-group">
      <router-link v-for="c in customers" :key="c.id" :to="{ path: 'detail/' + c.id }" class="customer-list-item list-group-item">
        <h2 class="h3 list-group-item-heading">{{ c.name }}</h2>
        <h4><small>{{ c.company }}</small></h4>
        <h5><small>email</small> {{ c.email }}</h5>
      </router-link>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SearchPanel from  '@/shared/search-panel.vue';

export default {
  computed: {
    ...mapGetters({
      customers: 'customers',
      currentPage: 'currentPage'
    })
  },
  methods: {
    onSearchClick(keywords) {
      let query = {
        keywords: keywords,
        page: 1
      };
      this.$store.dispatch('search', query);
    },
    nextPage() {
      let query = {
        keywords: this.$store.searchKeywords,
        page: this.$store.currentPage + 1
      };
      this.$store.dispatch('search', query);
    }
  },
  components: { SearchPanel }
}

</script>

<style scoped>

.customer-list-container {
  margin-top: .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.customer-list-item {
  margin: .2em;
  padding: .5em;
  width: 25em;
}

</style>
