<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter search criteria" v-model="criteria" @input="doSearchInput" />
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" @click.prevent="doSearchClick">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
</template>

<script>

export default {
  data() {
    return {
      criteria: ""
    }
  },
  methods: {
    doSearchClick() {
      this.$emit("searchClick", this.$data.criteria);
    },

    doSearchInput: _.debounce(
      function() {
        this.$emit("searchInput", this.$data.criteria);
      },
      300
    )
  }
}

</script>
