<template>
  <div id="app">

    <nav-bar></nav-bar>

    <div class="container">

      <router-view></router-view>

    </div>

  </div>
</template>

<script>
import NavBar from './nav-bar.vue';

export default {
  components: { NavBar }
}
</script>

<style scoped>
</style>
